<!-- begin tabs  -->
<div class="tabs">
	<div class="tabs__table">
		<div class="tabs__cell">
			<div class="tabs__label is-active">“Traditional”<i class="shadow"></i></div>
		</div>
		<div class="tabs__cell tabs__cell-center">
			<div class="tabs__decide">
				<p>data sources</p>
				<small class="tabs__choice">select the tab</small>
			</div>
		</div>
		<div class="tabs__cell">
			<div class="tabs__label">“Big Data”<i class="shadow"></i></div>
		</div>
	</div>
	<div class="tabs__content">
		<div class="data">
			<div class="data__bl">
				<div class="data__img" style="background-image: url(img/crowd.jpg)"></div>
				<p class="data__ttl">Demographic Score</p>
				<ul class="data__list">
					<li>Age</li>
					<li>Gender</li>
					<li>Marital Status</li>
					<li>Education</li>
					<li>Location</li>
					<li>Use of credit funds</li>
					<li>Origination channel type</li>
				</ul>
				<p class="data__info">Bank Partner Datasets</p>
			</div>
			<div class="data__bl">
				<div class="data__img" style="background-image: url(img/security.jpg)"></div>
				<p class="data__ttl">Anti-Fraud Score</p>
				<ul class="data__list">
					<li>Age</li>
					<li>Gender</li>
					<li>Marital Status</li>
					<li>Education</li>
					<li>Location</li>
					<li>Use of credit funds</li>
					<li>Origination channel type</li>
				</ul>
				<p class="data__info">Bank Partner Datasets</p>
			</div>
			<div class="data__bl">
				<div class="data__img" style="background-image: url(img/past-due.jpg)"></div>
				<p class="data__ttl">Collection Efficiency Score</p>
				<ul class="data__list">
					<li>Age</li>
					<li>Gender</li>
					<li>Marital Status</li>
					<li>Education</li>
					<li>Location</li>
					<li>Use of credit funds</li>
					<li>Origination channel type</li>
				</ul>
				<p class="data__info">Bank Partner Datasets</p>
			</div>
			<div class="data__bl">
				<div class="data__img" style="background-image: url(img/verify.jpg)"></div>
				<p class="data__ttl">Collection Efficiency Score</p>
				<ul class="data__list">
					<li>Existence of inconsistencies between data provided in the application and data on same individual from third-party databases.</li>
				</ul>
				<p class="data__info">Country-specific Databases</p>
			</div>
		</div>
		<p>We also provide our partners with Value-Added Services in the areas related to our know-how, which include Best Management Retail Risk Management Consulting, Risk Based Pricing, Custom Scorecard Development, and Data Mining.</p>
	</div>
</div>
<!-- end tabs -->